<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>
<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Variable</th>
                    <th>Pipe</th>
                    <th>Salida</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> {{ nombre }} </td>
                    <td> uppercase </td>
                    <td> {{ nombre | uppercase }}</td>
                </tr>
                <tr>
                    <td> {{ nombre | uppercase }} </td>
                    <td> lowercase </td>
                    <td> {{ nombre | lowercase }}</td>
                </tr>
                <tr>
                    <td> {{ nombre }} </td>
                    <td> Slice:3 </td>
                    <td> {{ nombre | slice:3 }}</td>
                </tr>
                <tr>
                    <td> {{ nombre }} </td>
                    <td> Slice:0:3 </td>
                    <td> {{ nombre | slice:0:3 }}</td>
                </tr>
                <tr>
                    <td> {{ arreglo }} </td>
                    <td> Slice:1:5 </td>
                    <td> {{ arreglo | slice:1:5 }}</td>
                </tr>
                <tr>
                    <td> {{ nombre }} </td>
                    <td> Slice:0:3 </td>
                    <td> {{ nombre | slice:0:3 }}</td>
                </tr>
                <tr>
                    <td> {{ PI }} </td>
                    <td> number </td>
                    <!--Pipe: number = number:numeros enteros.decimal en 0. cantidad de decimales-->
                    <td> {{ PI | number:'1.0-1' }}</td>
                </tr>
                <tr>
                    <td> {{ PI }} </td>
                    <td> number </td>
                    <td> {{ PI | number:'0.0-2' }}</td>
                </tr>
                <tr>
                    <td> {{ Porcentaje }} </td>
                    <td> Percent </td>
                    <td> {{ Porcentaje | percent }}</td>
                </tr>
                <tr>
                    <td> {{ Porcentaje }} </td>
                    <td> percent:'2.2-2' </td>
                    <td> {{ Porcentaje | percent:'2.2-2' }}</td>
                </tr>
                <tr>
                    <td> {{ Salario }} </td>
                    <td> Currency </td>
                    <td> {{ Salario | currency }}</td>
                </tr>
                <tr>
                    <td> {{ Salario }} </td>
                    <td> Currency:'EUR' </td>
                    <td> {{ Salario | currency:'EUR':'symbol-narrow':'.0-0' }}</td>
                </tr>
                <tr>
                    <td> {{ valorpromesa }} </td>
                    <td> Async </td>
                    <td> {{ valorpromesa | async }}</td>
                </tr>
                <tr>
                    <td> {{ Fecha }} </td>
                    <td> Date: 'medium' </td>
                    <td> {{ Fecha | date: 'medium'}}</td>
                </tr>
                <tr>
                    <td> {{ Fecha }} </td>
                    <td> Date: 'short' </td>
                    <td> {{ Fecha | date: 'short'}}</td>
                </tr>
                <tr>
                    <td> {{ Fecha }} </td>
                    <td> Date: date: 'MMMM - dd' </td>
                    <td> {{ Fecha | date: 'MMMM - dd'}}</td>
                </tr>
                <tr>
                    <td> {{ Fecha }} </td>
                    <td> Date: 'MMMM - dd':'':'{{idioma}}'
                        <button type="button" (click)="idioma='es'" class="btn btn-outline btn-primary mt-2 ml-2 mr-2">Español</button>
                        <button type="button" (click)="idioma='en'" class="btn btn-outline btn-secondary mt-2 mr-2">Ingles</button>
                        <button type="button" (click)="idioma='fr'" class="btn btn-outline btn-success mt-2 mr-2">Frances</button>
                    </td>
                    <td> {{ Fecha | date: 'MMMM - dd':'':idioma}}</td>
                </tr>


            </tbody>
        </table>
        <hr>
        <h4>Slice <small>NgFor</small></h4>
        <ul class="list-group col-2 mb-5">
            <li class="list-group-item bg-dark text-white" *ngFor="let iten of arreglo | slice:0:3">
                {{ iten }}
            </li>
        </ul>
        <h3>JSON </h3>
        <hr>
        <div class="row mb-5">
            <div class="col">
                <pre>
                {{ heroe | json }}
              </pre>
            </div>
        </div>
    </div>
</div>